*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
--Red: hsl(0, 78%, 62%);
--Cyan: hsl(180, 62%, 55%);
--Orange: hsl(34, 97%, 64%);
--Blue: hsl(212, 86%, 64%);
--Very-Dark-Blue: hsl(234, 12%, 34%);
--Grayish-Blue: hsl(229, 6%, 66%);
--Very-Light-Gray: hsl(0, 0%, 98%);

}
body{
    font-family: "Poppins", sans-serif;
    font-size: 62.5%;
    background-color: var(--Very-Light-Gray);
}
p{
    font-size: 15px;
}
.text p,
.text h1:first-child{
    color: var(--Grayish-Blue);
}
.text h1:not(:first-child){
    color:var(--Very-Dark-Blue);
    font-weight: 600;
} 
.one,
.two,
.three,
.four{
    background-color:white;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(71, 71, 71, 0.2), 0 6px 20px 0 rgba(34, 34, 34, 0.19);
    max-width:300px;
}
.one p,
.two p,
.three p,
.four p{
    color: var(--Grayish-Blue);
}
.one svg,
.two svg,
.three svg,
.four svg{
    align-self: flex-end;
}
.two {
    border-top: 4px solid var(--Red);
}
.one{
    border-top: 4px solid var(--Cyan);
}
.three{
    border-top: 4px solid var(--Orange);
}
.four {
    border-top: 4px solid var(--Blue);
}
